*.bak
*.pyc
*.swp
.gradle
.idea
.ssh
build
uploader.properties
gradle.properties
secrets.go

morningstar/morningstar
morningstar/morningstar*.csv

uploader/uploader

tunneller/tunneller
log-monitor/log-monitor
resilience/resilience
power-control/power-control
