*.bak
*.pyc
.gradle
build
firmwaretool.properties
firmwaretool.log
uploader.log
uploader.log.*
uploader.properties
gradle.properties
log.txt
.idea
geophone_*.bin
uploader/classes
.ssh
psn-adc/data/*
wrapper.log
wrapper
*.swp
morningstar/morningstar
morningstar/morningstar.csv
secrets.go
nohup.out
status/status
