[Unit]
Description=Status
After=network.target auditd.service

[Service]
ExecStart=/home/pi/geophones/status/status --server
WorkingDirectory=/home/pi/geophones/status
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
